{% extends 'media_tools/crop.html' %}

{% block hidden_fields %}
{% block tool_controls %}{% endblock %}

{% block process_btn_text %}{% endblock %}

{% block tool_scripts %}
<script>document.addEventListener('DOMContentLoaded', function(){
    var videoPreview = document.getElementById('mtVideoPreview');
    MediaTools.initUploadCard({ fileInputSelector: '#id_video', videoPlayerSelector: '#mtVideoPreview' });
    MediaTools.initPlaybar(videoPreview);
    MediaTools.initAjaxForm('#mtToolForm');
});</script>
{% endblock %}
{% endblock %}
